<!doctype html>

<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>test - phina.js</title>
  </head>
  <body>
    <canvas id='world'></canvas>
  </body>
</html>

<script src='../../src/object.js'></script>
<script src='../../src/phina.js'></script>
<script src='../../src/graphics/canvas.js'></script>

<script src='../testhelper.js'></script>
<script src='../graphics/canvas.js'></script>

<script>
var query = location.search.substr(1);
th.run(query);
</script>
