itemgroup
  div(class='{opened:_open}')
    a.mdl-navigation__link(href='', onclick='{toggle}') {name}
      i.material-icons.md-18 keyboard_arrow_down
    nav
      item(each='{items}')

  style(scoped='scoped').
    itemgroup div > a.mdl-navigation__link {
      padding-left: 14px !important;
    }
    itemgroup div.opened > a {
      background: hsl(0, 0%, 90%);
    }
    itemgroup div a.mdl-navigation__link i {
      position: absolute;
      right: 5px;
      -webkit-transition: 200ms;
    }
    itemgroup div.opened a.mdl-navigation__link i {
      -webkit-transform: rotate(-180deg);
    }
    itemgroup nav {
      max-height: 0px;
      overflow: hidden;
      -webkit-transition: 200ms;
    }
    itemgroup .opened nav {
      max-height: 500px;
      overflow: scroll;
      -webkit-transition: 200ms;
    }
  script(type='text/javascript').
    this._open = opts.data.open;

    this.toggle = function() {
      this._open = !this._open;
    };
