search.mdl-textfield.mdl-js-textfield
  input.mdl-textfield__input(name='_value', type='text')
  label.mdl-textfield__label
    i.material-icons search
  style(scoped).
    search {
      width: 100% !important;
    }
    search i.material-icons {
      position: absolute;
      top: -2px;
    }
